body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f7f9fc, #e3f2fd);
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  padding: 20px;
  color: #fa0303;
}

h2 {
  margin-bottom: 10px;
  color: #fa0303;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2git push -u origin main0px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card input,
.card button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #fa0303;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #fa0303;
}

#resultado {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  background: #f1f8ff;
  text-align: center;
}

#resultado img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}
